@{
    ViewData["Title"] = "Home Page";
}
<form id="formUpdate">
    <input id="files" type="file" name="files" multiple />
    <button type="submit">Uploads</button>
</form>
@section Scripts{
<script>
    $("#formUpdate").submit(function (evt) {
        evt.preventDefault();
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: "/image/UploadFile",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                let code = response.code;
                alert(response.msg);
            }
        });
    });
</script>
}